<% title "Flower Delivery San Francisco Florist" %>
<div class='big-image'>
  <%= render "header" %>

  <div class="order-main-content">
    <h1>Delight that special someone with flowers, #justbecause.</h1>
    <h2>For just $35/mo we'll send them a bouquet of flowers when they least expect it.</h2>
    <div class="order-button-container">
      <div class="btn red">
        <a href="/signup" title="Order Now">Order Now</a>
      </div>
      <p>Currently in San Francisco.</p>
    </div>
  </div>
</div>
<div class="steps how-it-works" id="howitworks">
  <div class="container clearfix">
    <h1>Flower Delivery in San Francisco.</h1>
    <h2>How it works.</h2>
    <div class="clearfix"></div>
    <div class="step step-one">
      <%= image_tag("icon-heart@2x.png", size: "45x46") %>
      <p>
        <b>Sign up and Order</b></br>
        Sign up with MadelineRosa today and for just $35 a month we send that special someone a unique bouquet of flowers handpicked by us and our local florists. Receive a <b>FREE</b> vase with your first order.
      </p>
    </div>
    <div class="step step-two">
      <%= image_tag("icon-flower@2x.png", size: "45x46") %>
      <p>
        <b>Surprise Delivery</b></br>
        Every month, we’ll pick a date to hand deliver the flowers - don’t worry, delivery is <b>FREE</b>. The bouquet of the month will be emailed to you before it’s delivered so you know what to expect
      </p>
    </div>
    <div class="step step-three">
      <%= image_tag("icon-cart@2x.png", size: "45x46") %>
      <p>
        <b>Giving Back</b></br>
        Our mission is to delight the world. For every bouquet we deliver, we donate flowers to a child at a local hospital. We’ll even send you a picture of the flower we’ll be donating.
      </p>
    </div>
  </div>
</div>

<div class="about-us" id="aboutus">
  <div class="container clearfix">
    <div class="map">
      <%= image_tag("map@2x.png", size: "250x250") %>
    </div>
    <div class="info">
      <h3>About Us</h3>
      <p>
        At Madeline Rosa, we think that everyone deserves to be delighted and surprised with flowers. For that reason, we started our flower delivery service to make that thought become a reality. As a local San Francisco based company ourselves, we choose to only work with local florists to ensure the prosperity of our community. Our choice to exclusively work with local florists also guarantees that your special someone will always receive the freshest flowers.
      </p>
      <div class="button-holder">
        <div class="btn red">
          <a href="/signup" title="Order Now">Order Now</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="faq" id="faq">
  <div class="container clearfix">
    <h3>What flowers will my special someone be receiving?</h3>
    <p>At the start of every month, we handpick a new bouquet for your special someone. Once the bouquet is chosen, you’ll receive an email to let you know what to expect.</p>
    <h3>How much does delivery cost?</h3>
    <p>Don’t worry about any delivery cost, that comes <b>FREE</b> with your order.</p>
    <h3>Where are the flowers coming from?</h3>
    <p>We do our best to help out our local community and economy. We work exclusively with local florists to design a unique and fresh bouquet for your special someone.</p>
    <h3>When will I be billed?</h3>
    <p>You’ll be billed when you place your initial order. Upon receipt of your first bouquet, you’ll continue to be charged on the 1st of every month.</p>
    <h3>What if I want to pick a certain day for the flowers to be delivered?</h3>
    <p>
      Special orders must be communicated in time to ensure free delivery for that month. Additionally, replacing the bouquet of the month for a special order may result in an additional charge for that month.
    </p>
  </div>
</div>
</div>

<div class="signup-modal" id="signup" style="display:none;">
  <h3>Sign up</h3>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains <%= pluralize(@user.errors.count, "error") %>.
      </div>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for @user, :html => {:autocomplete => "off"} do |f| %>
    <div class="signup-container">
      <div class="form-field">
        <%= f.text_field :first_name, placeholder: "First Name" %>
      </div>
      <div class="form-field">
        <%= f.text_field :last_name, placeholder: "Last Name" %></br>
      </div>
      <div class="form-field">
        <%= f.text_field :email, placeholder: "Email Address" %>
      </div>
      <div class="form-field">
        <%= f.password_field :password, placeholder: "Password" %></br>
      </div>
      <div class="form-field">
        <%= f.submit "Get Started", class: 'btn red' %>
      </div>
    </div>
  <% end %>
</div>
