<%= render "header" %>
<div class="container">
  <div class="signin">
    <h1>Sign In</h1>

    <%= form_for(:session, url: sessions_path) do |f| %>
      <div class="form-field">
        <%= f.text_field :email, placeholder: "Email" %></br>
      </div>
      <div class="form-field">
        <%= f.password_field :password, placeholder: "Password" %>
      </div>

      <%= f.submit "Sign in", class: 'btn red' %>
    <% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
