<h1>Create your Account</h1>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @user, :html => {:autocomplete => "off"} do |f| %>
  <div class="form-field">
    <%= f.text_field :first_name %>
  </div>
  <div class="form-field">
    <%= f.text_field :last_name %></br>
  </div>
  <div class="form-field">
    <%= f.text_field :email %>
  </div>
  <div class="form-field">
    <%= f.password_field :password %></br>
  </div>
  <div class="form-field">
    <%= f.submit "Create Account" %>
  </div>
<% end %>
