<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= yield(:title)%> | MadelineROSA</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=1024">
  <%= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLISHABLE_KEY'] %>
  <%= render "stylesheets" %>
  <%= javascript_include_tag "polyfills" %>

  <%= csrf_meta_tag %>
</head>
